//colors

$header-footer-color: #112786;

$nav-background: #13153f;

$button-color: #89aada;

$searchbar-color: #d4d5da;

$button-text: #305ba9;

$account-button: #62688d;

$account-text-color: #9da1b5;

$site-bg: #383c5b;


